body {
  background-color: whitesmoke;
  margin: 0;
  padding-top: 4vw;
  padding-bottom: 2vw;
}

.header-body,
.footer-body {
  width: 100%;
  position: fixed;
  background: black;
  padding: 10px 0;
}

.header-body {
  top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
  float: left;
  font-size: 1.4vw;
  padding-left: 1vw;
  color: gold;
}

.logo {
  float: left;
  padding-left: 5vw;
  height: 3.6vw;
  width: 4vw;
}

nav a {
  color: gold;
  font-size: 1vw;
  text-decoration: none;
  padding: 1vw 3.5vw;
  float: right;
}

.about {
  text-align: center;
  /* height: 50vw; */
  font-size: 2vw;
}

.contact {
  padding-bottom: 23vw;
}

.social-media-title {
  text-align: center;
  font-size: 1.5vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: gold;
}

.social-media {
  background-color: black;
  float: left;
  width: 45%;
  height: 23vw;
}

.social-media img {
  display: grid;
  width: 4vw;
  padding: 0 0 2.44vw 0;
  margin: auto;
}

.contact-container {
  background-color: black;
  color: gold;
  width: 55%;
  height: 23vw;
  float: right;
  color: black;
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5vw;
  padding-bottom: 1vw;
}

.contact-form {
  color: gold;
  font-size: 1.2vw;
  display: grid;
  width: 15vw;
  margin: auto;
}

.user-email {
  height: 1.3vw;
}

.message {
  height: 6vw;
}

.send-button {
  background-color: gold;
  border: 2px solid gold;
  color: black;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  width: 5vw;
  height: 2vw;
  margin: auto;
}

.footer-body {
  text-align: center;
  bottom: 0;
  color: gold;
  font-size: 0.5vw;
}
