body {
  background-color: aliceblue;
  margin: 0;
  padding-top: 2.3vw;
  padding-bottom: 2vw;
}

.header-body,
.footer-body {
  width: 100%;
  position: fixed;
  background: black;
  padding: 10px 0;
}

.header-body {
  top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
  float: left;
  font-size: 1.4vw;
  padding-left: 1vw;
  color: lightslategrey;
}

.logo {
  float: left;
  padding-left: 5vw;
  height: 3.6vw;
  width: 4vw;
}

nav a {
  color: lightslategrey;
  font-size: 1vw;
  text-decoration: none;
  padding: 1vw 3.5vw;
  float: right;
}

.active {
  color: white;
}

nav a:hover {
  color: white;
}

.information {
  height: 10vw;
  background-color: black;
  display: block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 5vw;
}

.contact-info {
  border-style: solid;
  border-color: black;
  border-right-color: lightslategray;
  border-width: 0.1vw;
  text-align: center;
  color: white;
  float: left;
  width: 50%;
  height: 80%;
}

.contact-info p {
  font-size: 1vw;
  padding-top: 0.8vw;
  padding-right: 3vw;
  float: right;
  text-align: left;
}

.social-media {
  display: grid;
  float: right;
  width: 49%;
}

.social-media p {
  float: left;
  font-size: 1vw;
  color: white;
  padding-top: 0.8vw;
  padding-left: 3vw;
}

.social-media img {
  width: 1.2vw;
  padding-left: 3vw;
}

.footer-body {
  text-align: center;
  bottom: 0;
  color: lightslategray;
  font-size: 0.4vw;
}

@media only screen and (max-width: 500px) {
  .information {
    height: 6em;
  }
  .contact-info {
    height: 58%;
  }
}
