body {
  background-color: aliceblue;
  margin: 0;
  padding-top: 2.3vw;
  padding-bottom: 2vw;
}

html {
  height: 100%;
}

.header-body {
  width: 100%;
  position: fixed;
  background: black;
  padding: 10px 0;
  top: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
  float: left;
  font-size: 1.4vw;
  padding-left: 1vw;
  color: lightslategrey;
}

.logo {
  float: left;
  padding-left: 5vw;
  height: 3.6vw;
  width: 4vw;
}

nav a {
  color: lightslategrey;
  font-size: 1vw;
  text-decoration: none;
  padding: 1vw 3.5vw;
  float: right;
}

.active {
  color: white;
}

nav a:hover {
  color: white;
}

.summary {
  text-align: center;
  margin-top: 5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.summary h1 {
  font-size: 3.5vw;
  color: lightslategray;
  text-shadow: 0.3vw 0.2vw 0.1vw black;
}

.summary p {
  font-size: 1.4vw;
}

.information {
  height: 10vw;
  background-color: black;
  display: block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 5vw;
}

.contact-form {
  margin-top: 5vw;
  width: 35%;
  height: 25vw;
  margin-left: 32%;
  padding-left: 3vw;
  padding-top: 2vw;
  background-color: white;
  font-size: 1.3vw;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0.5vw 0.6vw darkgrey;
  margin-bottom: 10vw;
}

#name {
  font-size: 1.2vw;
  float: right;
  margin-right: 3vw;
  width: 18vw;
  background-color: lightgray;
  border-color: lightgray;
}

#mail {
  font-size: 1.2vw;
  float: right;
  margin-right: 3vw;
  width: 18vw;
  background-color: lightgray;
  border-color: lightgray;
}

.comment {
  float: right;
  margin-right: 3vw;
  font-size: 1.2vw;
  width: 18vw;
  height: 10vw;
  background-color: lightgray;
  border-color: lightgray;
}

.submit {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: cornflowerblue;
  color: white;
  font-size: 1.3vw;
  width: 12vw;
  height: 2vw;
  border-color: cornflowerblue;
  margin-left: 27%;
  margin-top: 3vw;
}

.contact-info {
  border-style: solid;
  border-color: black;
  border-right-color: lightslategray;
  border-width: 0.1vw;
  text-align: center;
  color: white;
  float: left;
  width: 50%;
  height: 80%;
}

.contact-info p {
  font-size: 1vw;
  padding-top: 0.8vw;
  padding-right: 3vw;
  float: right;
  text-align: left;
}

.social-media {
  display: grid;
  float: right;
  width: 49%;
}

.social-media p {
  text-align: left;
  font-size: 1vw;
  color: white;
  padding-top: 0.8vw;
  padding-left: 3vw;
}

.social-media img {
  width: 1.2vw;
  padding-left: 3vw;
  float: left;
}

.footer-body {
  display: grid;
  text-align: center;
  color: lightslategray;
  font-size: 0.4vw;
  width: 100%;
  background: black;
  position: absolute;
}

@media only screen and (max-width: 500px) {
  .summary {
    margin-top: 20vw;
  }
  #name {
    width: 25vw;
    font-size: 0.8vw;
  }
  #mail {
    width: 25vw;
  }
  .contact-form {
    height: 38vw;
    width: 50%;
    margin-left: 24%;
    padding-top: 5vw;
    margin-bottom: 69vw;
  }
  .comment {
    width: 25.5vw;
  }
  .submit {
    height: 5vw;
    width: 20vw;
    margin-top: 0;
  }
  .footer-body {
    margin-bottom: 0;
    margin-top: 25vw;
    height: 25vw;
  }
}
